.booking-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #5f2c82, #49a09d);
}

.booking-box {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  text-align: center;
}

.booking-box input,
.booking-box textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.row {
  display: flex;
  gap: 10px;
}

.readonly {
  background: #eee;
}

button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(135deg, #6c63ff, #00c6ff);
  color: white;
  border: none;
  border-radius: 8px;
}